* {
    margin: auto;
    padding: 0;
}
 body {
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    background-color: antiquewhite;
 }
img {
    border-radius: 450px;
    width: 400px;
    height: 300px;
    size: 300px;
}


#button {
    border-radius: 20px;
    letter-spacing: 0.75px;
    align-items: left;
    color: black;
    text-align: left;
    border: none;

}

.email {
    font-style: italic;
}